<table class="table">
    <thead>
        <tr class="columns-product">
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Views</th>
        </tr>
    </thead>
    <tbody class="columns-product">
        <tr *ngFor="let product of products">
            <th scope="row">{{ product.name }}</th>
            <td> {{ product.description }} </td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.views }}</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr class="columns-product">
            <th scope="col">Price</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody class="columns-product">
        <tr *ngFor="let product of product?.priceHistory">
            <th scope="row">{{ product.price}}</th>
            <td> {{ product.timestamp }} </td>
        </tr>
    </tbody>
</table>